<!DOCTYPE html>
<html>
<head>
  <title>EmberFoundation</title>
  <%= stylesheet_link_tag    "ember-foundation/application", :media => "all" %>
  <%= javascript_include_tag "ember-foundation/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
